.ItemCard {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 4px;
    /* height: 160px; */
    height: 10rem;
}

.ItemCard:hover {
    border-color: gray;
    cursor: pointer;
}

.ItemCard img {
    width: 25%;
    object-fit: cover;
}

.ItemCard section {
    width: 75%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ItemCard section .name {
    font-weight: bold;
    border-bottom: 10px;
    margin-bottom: 10px;
}

.itemCard-description {
    color: #545454;
    font-size: 14px;
}