.ItemCard {
    display: flex;
    border: 2px solid lightgray;
    border-radius: 4px;
    /* height: 160px; */
}

.ItemCard:hover {
    border-color: gray;
    cursor: pointer;
}

.ItemCard img {
    width: 25%;
}

.ItemCard section {
    width: 75%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ItemCard section .name {
    font-weight: bold;
}