.signup-login {
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-end;
    margin-top: -4.3vmin;

}

.history-and-logout {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-top: -4.3vmin;
}
.history-logout-icon a{
    margin: 0 0.5vmin;
}

.navbar-history-logout-icon {
    color: rgba(255, 0, 47, 0.681);
}

.navbar-span{
  /* margin auto will evenly center the text in the middle of the screen */
  margin: auto;
  color: #007F41;
  font-size: 1.5rem;
}

.nav-bar-new-order {
    text-decoration: none;
}


