.CategoryIndex > div {
    display: grid;
    grid-template-columns: repeat(3, minmax(25rem, 31.5vw));
    grid-gap: 40px 24px;
}

.CategoryIndex h2 {
    /* background-color: lightgray; */
    padding: .5rem;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal article {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
  }
  
  .modal-button {
    border-radius: 50%;
    border: none;
    font-size: 18px;
    width: 48px;
    height: 48px;
    background: #EEEEEE;
    cursor: pointer;
    }

  .modal article img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  
  .modal-image-div {
    height: 400px;
    width: 100%;
  }

  .modal-name {
    padding: 24px 24px 32px 0px;
    font-weight: bold;
    font-size: 25px;
  }

  .modal-description {
    padding-top: 16px;
    line-height: 20px;
    color: #545454;
    font-size: 18px;
  }

  .modal-price {
    padding-left: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #545454;

  }


  .modal-button-div {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .modal-add-minus-btn {
    border-radius: 50%;
    border: none;
    font-size: 18px;
    width: 48px;
    height: 48px;
    background: #EEEEEE;
    cursor: pointer;
  }

  .modal-addtocart-button {
    min-height: 48px;
    font-size: 18px;
    color: white;
    background-color: black;
    cursor: pointer;
    width: 75%;
  }

